.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  align-items: stretch;
  background: #f4f4f4;
}

.App-viewerContainer {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: #555;
}

.App-controlsContainer {
  width: 220px;
  padding: 20px;
  border-left: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  background: white;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.05);
}

.App-title {
  font-family: sans-serif;
  color: #333;
}

.App-divider {
  width: 100%;
  margin: 20px 0;
  border: none;
  border-top: 1px solid #eee;
}

.App-checkboxLabel {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #333
}

.App-checkbox {
  margin-right: 8px;
  transform: scale(1.2);
}
